section {
  position: absolute;
  width: 20vw;
  height: 65vh;
  left: 50%;
  // 크기를 뻄 - 중앙정렬 
  top: 150%;
  margin-left: -10vw;
  margin-top: -32.5vh;
  transition: 1s;


  article {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;
    top : 0;
    // background-color:white;
    // border: 1px solid black;
    // 부모요소에 딱 붙이기 위해서 

    &.on {
      .inner {
        opacity: 1;
        transform: scale(1);
      }
    }

    div.inner{
      background-color: white;
      width: 100%;
      height: 100%;
      // background-color: orange;
      padding : 5vh 2.5vw 8vh;
      border-radius : 10px;
      box-shadow: 10px 10px 20px rgba(0,0,0,0.1);
      opacity: 0.6;
      transform: scale(0.8);
      transition: 1s;
      

      .pic {
        width: 15vw;
        height: 15vw;
        position: relative;
        background-size: 0;


        &::before,
        &::after {
          content: "";
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          border-radius: 50%;
          background-repeat: no-repeat;
          background-size: cover;
          background-image: inherit;
        }

        &::before {
          transform: translateY(10%);
          filter: blur(20px) brightness(130%);//그림자 
        }

        &.on {
          &::before{
            animation: rotation2 4s linear infinite;
          }

          &::after{
            animation: rotation 4s linear infinite;
          }
        }

        .dot {
          position: absolute;
          width: 2.5vw;
          height: 2.5vw;
          border-radius: 50%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 3;
          background-color: white;
          box-shadow: inset 5px 5px 10px rgba(0,0,0,0.1);
          // 그림자가 안에 들어감 
        }
      }

      .text {
        position: absolute;
        width: 15vw;
        text-align: center;
        margin-top : 60px;
        letter-spacing: 1px;
      }

      h2 {
        margin-bottom: 20px;
      }

      p{
        color: #777;
      }

      .control {
        display: flex;
        justify-content: space-around;
        margin-top:45px;
      }

      li {
        cursor: pointer;
        opacity:0.6;
        transition: 0.5s;

        &.play {
          transform: scale(1.5);
          opacity: 0.8;
        }

        &:hover {
          transform: scale(1.5);
          opacity: 1;

          &.play {
            transform: scale(2);
          }
        }
      }
    }
    

  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotation2 {
  0% {
    transform: translateY(10%) rotate(0deg);
  }
  100% {
    transform: translateY(10%) rotate(360deg);
  }
}